<div class="column grid_7">
<h2>Projects</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.description %></td>
  </tr>
<% end %>
</table>
</div>

<div class="column grid_3">
  <h2>Project Options</h2>
  <%= link_to 'New Project', new_project_path %>
</div>
