<h1>Edit Account</h1>

<p id="notice"><%= notice %></p>

<%= form_for(@user, :url => user_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :mode => "edit"} %>
<% end %>

<%= link_to 'Back', user_path(@user) %>
