<h1>Login to Scabies</h1>

<p id="notice"><%= notice %></p>

<%= form_for(@user, :url => user_index_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :mode => "login"} %>
<% end %>

<%= link_to "Sign Up", signup_path %>
