<h1>Signup for Scabies</h1>

<p id="notice"><%= notice %></p>

<%= form_for(@user, :url => user_index_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :mode => "signup"} %>
<% end %>
